/*ACCESSIBILITY*/
.accessibility{
	filter: contrast(1.5) grayscale(90%);
}
.light{
	background-color: #fafafa;
}
.light main section ul li img{
	display: block;
	margin: 0rem auto;
	border-radius: .5rem;
	border: solid .2rem var(--default);
	box-shadow: .1rem .1rem 1rem var(--default);
}
.light header ul{
	margin: 0 2rem; 
	background-color: var(--white);
	border: solid .2rem var(--tertiare);
	border-radius: 2rem;
	padding: 1rem;
}
.light header, .light footer{
	background-color: #eeeeee;
	color: #000;
}
.light section p{
    background-color: #fff6f6;
}
.light header{
	box-shadow: 0rem 0rem 1rem var(--default);
}
.light footer{
	box-shadow: 0 0 1rem var(--default);
}
.light footer section ul li a{
	color: #000;
}
.light header ul li{
	margin: 0.5rem;
}
.light h2{
	color: var(--default);
}
.light section ul figure figcaption h2{
    color: #fff;
}

.light label{
	display: block;
	padding: 1rem 0rem;
	text-shadow: none;
	color: var(--default);
	font-weight: bold;
	font-size: 2rem;
}
.light input, .light select{
	color: #222;
	background-color: #fafafa;
	
}
.light img{
	border-radius: .5rem;

}
.light legend{
	display: block;
	margin: 0 auto;
	color: var(--default);
	text-shadow:none;
	text-align: center;
	font-weight: bold;
	font-size: 2.5rem;	
}